/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 4rem;
  justify-self: center;
}

.genero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 2rem;
}

.genero-container h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  display: inline-block;
  padding-bottom: 5px;
}


.genero {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-self: left;
  padding-left:40px;
  padding-right:40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width:180px;
}

.imagen {
  width:150px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.card h3 {
  font-size: 1.2rem;
  text-align: center;
  margin: 10px;
}
